<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h2>User list</h2>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date</th>
            <th>Name</th>
            <th>Password</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="User : ${userList}">
            <td th:utext="${User.id}">...</td>
            <td th:utext="${User.firstName}">...</td>
            <td th:utext="${User.lastName}">...</td>
            <td th:utext="${User.date}">...</td>
            <td th:utext="${User.name}">...</td>
            <td th:utext="${User.password}">...</td>
            <td th:utext="${User.roles.toString()}">...</td>
            <td>
                <a href="edit.html" th:href="@{/admin/edit/{userId}(userId=${User.id})}">edit</a>
            </td>
            <td>
                <form action="/admin/delete" method="post">
                    <input type="hidden" name="id" th:value="${User.id}">
                    <input type="submit" name="id" value="delete">
                </form>
            </td>
        </tr>
    </table>
</div>
<h2>ADD</h2>
<a href="add.html" th:href="@{/admin/add}">ADD</a>
</body>
</html>