<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h2>User list</h2>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Date</th>
            <th>Operations</th>
        </tr>
        <tr th:each="User : ${userList}">
            <td th:utext="${User.id}">...</td>
            <td th:utext="${User.name}">...</td>
            <td th:utext="${User.lastName}">...</td>
            <td th:utext="${User.date}">...</td>
            <td>
                <a href="edit.html" th:href="@{/edit/{userId}(userId=${User.id})}">edit</a>
                <form action="/delete" method="post">
                    <input type="hidden" name="id" th:value="${User.id}">
                    <input type="submit" name="id" value="delete">
                </form>
            </td>
        </tr>
    </table>
</div>
<h2>Add</h2>
<form action="/add" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="lastName">Last name</label>
    <input type="text" name="lastName" id="lastName">
    <label for="date">Date</label>
    <input type="text" name="date" id="date">
    <input type="submit" value="Add user">
</form>
</body>
</html>